@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    background: #073763;
  }
}

@media screen and (min-width: 768px) {
  .NavBarMobileMenu {
    display: none;
  } 
  .NavBarMenuIcons {
   
    flex-grow: 1;
    display: flex;
  }
 
}

@media screen and (max-width: 768px) {
  .NavBarMobileMenu {
    flex-grow: 1;
    display: flex;
  } 
  .NavBarMenuIcons {
    display: none;
  }
 

}









/* Style wrapper */
.TableWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
}

.InventoryTable {
  width: 96%;
  max-width: 800px;
}

.LoggerTable {
  width: 96%;
  max-width: 900px;
}
 
 
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
 
.react-tabs__tab-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #192125;
  padding-left: 0px;
}
 
.react-tabs__tab {
  width: 50%;
  padding: 0.5rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
  background: #334145;
  font-weight: bold;
}
 
.react-tabs__tab--selected {
  background: #455A64;
  outline-width: 0;

}
 
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
 
.react-tabs__tab:hover {
  background: #546b76;

}
 
.react-tabs__tab-panel {
  display: none;
}
 
.react-tabs__tab-panel--selected {
  display: flex;
}
